
h3 {
    width: 100%;
    text-align: center;
}

.gallery, .imgsSelected {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto 2rem auto;
}

    .gallery p {
        color: black;
        position: absolute;
        width: 400px;
        text-align: center;
        margin-top: 5px;
    }

    .gallery label {
        height: 100px;
        width: 400px;
        margin: 20px;
        border-radius: 3px;
        overflow: hidden;
        // box-shadow: 0 3px 5px #145388;
    }

        .gallery label img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            cursor: pointer;
        }

        // .gallery label img:hover {
        //     transform: scale(1.1);
        // }

    .imgsSelected label {
        height: 75px;
        width: 200px;
        margin: 15px;
        border-radius: 5px;
        overflow: hidden;
    }

        .imgsSelected label img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

.simple-icon-check::before {
    background-color: #145388;
    color: #fff;
    padding: 0em;
    border-radius: 50px;
    border-color: #fff;
}

.selected {
    border: 5px solid #145388;
}

.selected .simple-icon-check {
    display: block;
    position: absolute;
    transform: translate(353px, -85px);
    color: #145388;
}

.noSelected {
    border: none;
}

.noSelected .simple-icon-check {
    display: none;
    color: #145388;
}

.simple-icon-arrow-right-circle {
    display: block;
    position: absolute;
    transform: translate(175px, -25px);
    cursor: pointer;
}
.simple-icon-arrow-left-circle {
    display: block;
    position: absolute;
    transform: translate(5px, -25px);
    cursor: pointer;
}
.simple-icon-arrow-right-circle::before, .simple-icon-arrow-left-circle::before {
    background-color: #145388;
    color: #fff;
    padding: 0em;
    border-radius: 50px;
    border-color: #fff;
    font-size: 20px;
}

.simple-icon-close {
    display: block;
    position: absolute;
    transform: translate(175px, -70px);
    cursor: pointer;
}
.simple-icon-close::before {
    background-color: #de2f18;
    color: #fff;
    padding: 0em;
    border-radius: 50px;
    border-color: #fff;
    font-size: 20px;
}

// FORMS
.paso1 {
    display: none !important;
}
.show-paso1 {
    display: block !important;
    width: 100%;
    
}
.paso2 {
    display: none !important;
}
.show-paso2 {
    display: block !important;
    width: 100%;
}

input[type="checkbox"] {
    width: auto;
}

#acciones div {
    display: flex;
}

    #acciones div label {
        width: auto;
        padding-right: 0em !important;
    }

    #acciones div p {
        width: 150px;
        margin-top: 12px;
    }

    #acciones div input[type="number"] {
        width: 100px;
        margin-bottom: .3em;
    }