<!-- <h5 class="mb-4">{{ 'wizard.last-end' | translate }}</h5> -->
<app-select-patient-img-modal #addNewModalRef (seleccionarImg)="getImgSelect($event)" (resetParentImg)="resetChildrenImg()" [parentImg]="childrenImg"></app-select-patient-img-modal>
<app-locate-patient #locateModalRef (seleccionarPaciente)="getPatientSelected($event)"></app-locate-patient>

<div class="card mb-5">
  <div class="card-body">
    <aw-wizard >
      
      <aw-wizard-step stepTitle="{{ 'wizard.first-step' | translate }}" style="min-height: 120px;">
        <h3 class="mb-3 mt-2">{{ 'wizard.first-step' | translate }}</h3>
        <div class="form-group">
          <div *ngIf="subject" id="asignatura">
            <label class="db">{{ 'pages.exercise-subject' | translate }}</label>
            <!-- <input type="text" class="form-control" [(ngModel)]="dataEjercicio.asignatura" placeholder="" required disabled value=""> -->
            <label>
              <ng-select appearance="outline" [searchable]="false" class="form-control s-dis" name="asignatura" [(ngModel)]="dataEjercicio.asignatura" required disabled>
                <ng-option [value]="dataEjercicio.asignatura">{{subject.nombrecorto}}
                </ng-option>
              </ng-select>
            </label>
          </div>
          <div *ngIf="!subject" id="asignatura" class="mt-2">
            <label class="db">{{ 'pages.exercise-subject' | translate }}</label>
            <label>
              <ng-select appearance="outline" [searchable]="false" class="form-control" name="asignatura" [(ngModel)]="dataEjercicio.asignatura" required>
                <ng-option *ngFor="let item of subjects" [value]="item.uid">{{item.nombrecorto}}
                </ng-option>
              </ng-select>
            </label>
            <!-- <input type="text" class="form-control" formControlName="asignatura" placeholder="" required> -->
          </div>
          <div id="nombre">
            <label>
              <label>{{ 'pages.exercise-name' | translate }}</label>
              <input type="text" class="form-control" [(ngModel)]="dataEjercicio.nombre" placeholder="" required>
            </label>
          </div>
          <div class="mt-2" id="desde">
            <label>{{ 'pages.exercise-from' | translate }}</label>
            <input type="date" class="form-control" [(ngModel)]="dataEjercicio.desde" placeholder="" min="{{todayString}}" required>
          </div>
          <div class="mt-2" id="hasta">
            <label>{{ 'pages.exercise-to' | translate }}</label>
            <input type="date" class="form-control" [(ngModel)]="dataEjercicio.hasta" placeholder="" min="{{tomorrowString}}" required>
          </div>
        </div>
        <div class="form-group">
          <div class="mt-2" id="descripcion">
            <label>{{ 'pages.exercise-description' | translate }}</label>
            <textarea type="text" class="form-control" [(ngModel)]="dataEjercicio.descripcion" placeholder="" required></textarea>
            <!-- <input type="text" class="form-control" [(ngModel)]="dataEjercicio.descripcion" placeholder="" required> -->
          </div>
          <div id="pre-intentos">
            <div id="intentos_limitados">
              <label class="mb-0 mt-1">{{ 'pages.exercise-limited-attempts' | translate }}</label>
              <label class="custom-control custom-checkbox mb-2 mt-1 align-self-center pr-4">
                <input type="checkbox" class="custom-control-input" id="customCheck100" [(ngModel)]="dataEjercicio.intentos_limitados" placeholder="" required>
                <label class="custom-control-label" for="customCheck100"></label>
              </label>
            </div>
            <label class="db mb-0">{{ 'pages.exercise-max-attempts' | translate }}</label>
            <div id="intentos">
              <input type="range" [(ngModel)]="dataEjercicio.range_max_intentos" min="1" max="10" value="1" (input)="changeValue($event.target.value, true)" [disabled]="!dataEjercicio.intentos_limitados">
              <input type="number" class="form-control" [(ngModel)]="dataEjercicio.max_intentos" min="1" max="10" value="1" (input)="changeValue($event.target.value, false)" [disabled]="!dataEjercicio.intentos_limitados">
            </div>
          </div>
        </div>
        <div class="text-center mt-4">
          <!-- <button type="button" class="btn btn-primary" awPreviousStep>{{ 'wizard.prev' | translate }}</button>{{" "}} -->
          <button type="button" class="btn btn-primary" [disabled]="!datosGeneralesValid()" awNextStep>{{ 'wizard.next' | translate }}</button>
        </div>        
      </aw-wizard-step>
      
      <aw-wizard-step stepTitle="{{ 'wizard.second-step' | translate }}" style="min-height: 120px;"> 
        <h3 class="mb-2">{{ 'wizard.second-step' | translate }}</h3> 
        <div class="gallery">
          <!-- <h5>Imágenes</h5> -->
          <label class="noSelected" *ngFor="let p of imgs; let i=index">
            <img src={{urlPrefix+p.ruta}} (click)='selectImgs(p)'>
            <p>{{p.descripcion}}</p>
            <i class="simple-icon-check"></i>
          </label>
        </div>
        
        <div class="imgsSelected">
          <h5>Imágenes Seleccionadas</h5>
          <div class="is">
            <label *ngFor="let p of imgsSelect; let i=index">
              <img src={{urlPrefix+p.ruta}}>
              <i class="simple-icon-close" (click)="unselectImg(p, i)"></i>
              <i *ngIf="i>0" class="simple-icon-arrow-left-circle" (click)="moveImgL(p, i)"></i>
              <i *ngIf="i<imgsSelect.length-1" class="simple-icon-arrow-right-circle" (click)="moveImgR(p, i)"></i>
            </label>
          </div>
        </div>

        <div class="text-center mt-2">
          <button type="button" class="btn btn-primary" awPreviousStep>{{ 'wizard.prev' | translate }}</button>{{" "}}
          <button type="button" class="btn btn-primary" [disabled]="!escenaValid()" (click)="checkDate()" awNextStep>{{ 'wizard.next' | translate }}</button>
        </div> 
      </aw-wizard-step>

      <aw-wizard-step stepTitle="{{ 'wizard.third-step' | translate }}" style="min-height: 120px;">
        <div class="pacientes">
          <h3 class="mb-2">{{ 'wizard.third-step' | translate }}</h3>
          <div class="form-group configurar-pacientes">
            <div class="separated">
              <div id="descripcion">
                <label>{{ 'wizard.description' | translate }}</label>
                <!-- <input type="text" class="form-control" [(ngModel)]="dataPaciente.descripcion" placeholder="" required> -->
                <textarea type="text" class="form-control" [(ngModel)]="dataPaciente.descripcion" placeholder="" required></textarea>
              </div>
              <div class="separated2">
                <div id="camina">
                  <label class="mt-2">{{ 'wizard.walk' | translate }}</label>
                  <label class="custom-control custom-checkbox mb-1 align-self-center pr-4">
                    <input type="checkbox" class="custom-control-input" id="customCheck101" [(ngModel)]="dataPaciente.camina" placeholder="" required>
                    <label class="custom-control-label" for="customCheck101"></label>
                  </label>
                </div>
                <div class="mt-2" id="color">
                  <label>{{ 'wizard.colour' | translate }}</label>
                  <label class="w-100">
                    <ng-select appearance="outline" [searchable]="false" class="form-control" name="color" [(ngModel)]="dataPaciente.color" required>
                      <ng-option *ngFor="let item of colours" [value]="item">{{item}}
                      </ng-option>
                    </ng-select>
                  </label>
                </div>
              </div>
            </div>
            <div id="acciones" class="mt-2">
              <label>{{ 'wizard.actions' | translate }}</label>
              <div [ngClass]="{'active':isSelected(p)}" *ngFor="let p of actions; let i=index">
                <!-- CHECKBOX SELECCIONAR -->
                <label class="custom-control custom-checkbox mb-1 align-self-center pr-4">
                  <input type="checkbox" class="custom-control-input" [id]="'customCheck'+i" [checked]="isSelected(p)"
                    (change)="onSelect(p)">
                  <label class="custom-control-label" [for]="'customCheck'+i"></label>
                </label>
                <p class="accion mb-0 text-muted text-small w-xs-100">{{p.nombre}}</p>
                <input type="number" class="form-control" [(ngModel)]="p.tiempo" [disabled]="!isSelected(p)" placeholder="">
              </div>
            </div>
          </div>
          <div class="form-group configurar-pacientes">
            <div id="empeora">
              <label>{{ 'wizard.gets-worse' | translate }}</label>
              <label class="custom-control custom-checkbox mb-1 align-self-center pr-4">
                <input type="checkbox" class="custom-control-input" id="customCheck102" [(ngModel)]="dataPaciente.empeora" placeholder="" required>
                <label class="custom-control-label" for="customCheck102"></label>
              </label>
              <!-- <input type="checkbox" class="form-control" [(ngModel)]="dataPaciente.empeora" placeholder="" required> -->
            </div>
            <div id="tiempoEmpeora">
              <label>{{ 'wizard.time-gw' | translate }}</label>
              <input type="text" class="form-control" [(ngModel)]="dataPaciente.tiempoEmpeora" [disabled]="!dataPaciente.empeora" placeholder="">
            </div>
            <div class="mt-2" id="img">
              <label>{{ 'wizard.img' | translate }}</label>
              <div class="img-content">
                <!-- <input type="text" class="form-control" [(ngModel)]="dataPaciente.img" placeholder="" required> -->
                <button type="button" class="btn btn-outline-primary" (click)="showSelectPatientImgModal()">Seleccionar Imagen</button>
                <input type="text" class="form-control invisible" [(ngModel)]="dataPaciente.img" placeholder="" required disabled>
                <div class="mini-img">
                  <label *ngIf="dataPaciente.img">
                    <img src={{urlPrefixPacientes+dataPaciente.img}}>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="dataPaciente.img" class="mt-0">
            <button *ngIf="dataPaciente['uid'] == undefined" type="button" class="btn btn-primary" (click)="createPatient()">{{ 'wizard.add' | translate }}</button>
            <button *ngIf="dataPaciente['uid'] != undefined" type="button" class="btn btn-primary" (click)="createPatient()">Guardar</button>
          </div>
          <div *ngIf="!dataPaciente.img" class="mt-4">
            <button *ngIf="dataPaciente['uid'] == undefined" type="button" class="btn btn-primary" (click)="createPatient()">{{ 'wizard.add' | translate }}</button>
            <button *ngIf="dataPaciente['uid'] != undefined" type="button" class="btn btn-primary" (click)="createPatient()">Guardar</button>
          </div>
  
          <div class="lista-pacientes">
            <h3 class="mb-2">Lista Pacientes</h3>
            <div class="lista">
              <p *ngIf="dataEjercicio.pacientes.length == 0">Aún no hay Pacientes creados para el Ejercicio</p>
              <div *ngFor="let p of dataEjercicio.pacientes; let i=index">
                <div class="activo" *ngIf="dataPaciente.uid != undefined && dataPaciente.uid == p.uid">
                  <p class="paciente mb-0 text-muted text-small w-xs-100" (click)="createPatient()">Paciente {{i+1}}</p>
                  <i class="simple-icon-close" (click)="deletePatient(i)"></i>
                </div>
                <div class="noActivo" *ngIf="dataPaciente.uid == undefined || dataPaciente.uid != p.uid">
                  <p class="paciente mb-0 text-muted text-small w-xs-100" (click)="loadPatientData(p, i)">Paciente {{i+1}}</p>
                  <i class="simple-icon-close" (click)="deletePatient(i)"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
          
        <div class="text-center mt-3">
          <button type="button" class="btn btn-primary" awPreviousStep>{{ 'wizard.prev' | translate }}</button>{{" "}}
          <!-- <button type="button" class="btn btn-primary" awNextStep>{{ 'wizard.next' | translate }}</button> -->
          <button type="button" class="btn btn-primary" [disabled]="!confPacientesValid()" (click)="initLocatePatient()" awNextStep>{{ 'wizard.next' | translate }}</button>
        </div>
      </aw-wizard-step>

      <aw-wizard-step stepTitle="{{ 'wizard.fourth-step' | translate }}" style="min-height: 120px;"> 
        <h3 class="mb-2">{{ 'wizard.fourth-step' | translate }}</h3> 
        <div class="paso">
          <div class="label-img-selected">
            <label *ngIf="imgSelected">
              <img src="{{urlPrefix + imgSelected.ruta}}">
            </label>
          </div>

          <div *ngIf="imgsSelect.length > 0 && imgSelected!= undefined" class="imgsSelected locate-patients">
            <!-- <h5>Imágenes Seleccionadas</h5> -->
            <label *ngFor="let p of imgsSelect; let i=index">
              <img *ngIf="p.ruta == imgSelected.ruta" class="selected" src={{urlPrefix+p.ruta}} (click)="setImgSelected(p)">
              <img *ngIf="p.ruta != imgSelected.ruta" class="noSelected" src={{urlPrefix+p.ruta}} (click)="setImgSelected(p)">
            </label>
          </div>
  
          <div class="text-center mt-2">
            <button type="button" class="btn btn-primary" awPreviousStep>{{ 'wizard.prev' | translate }}</button>{{" "}}
            <button type="button" class="btn btn-primary" [disabled]="!ubicarPacientesValid()" awNextStep>{{ 'wizard.next' | translate }}</button>
          </div> 
          
          <div class="tabla">
            <table>
              <tbody>
                <tr *ngFor="let item of table; let i=index">
                  <td *ngFor="let it of item; let j=index" class="celda">
                    <label *ngIf="!celdaVacia(j, i)">
                      <img class="paciente_ubicado" src="{{urlPrefixPacientes+table[i][j].img}}">
                      <i class="simple-icon-close" (click)="dislocatePatient(j, i)"></i>
                    </label>
                    <label *ngIf="celdaVacia(j, i)" class="celdaVacia" (click)="showLocatePatientModal(j, i)">
                    </label>
                    <!-- <p *ngIf="!celdaVacia(j, i)">PACIENTE X</p> -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        
      </aw-wizard-step>
      
      <aw-wizard-completion-step stepTitle="{{ 'wizard.done' | translate }}" style="min-height: 120px;">
        <div class="text-center complete-message-centered">
          <h2 class="mb-2">¡Ejercicio Configurado!</h2>
          <p>Se ha completado correctamente la configuración del Ejercicio</p>
          <button type="button" class="btn btn-primary" (click)="toExercises()">{{ 'wizard.finish' | translate }}</button>
        </div>
      </aw-wizard-completion-step>
    </aw-wizard >
  </div>
</div>
