
.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

    .gallery label {
        height: 150px;
        width: 225px;
        margin: 20px;
        border-radius: 5px;
        overflow: hidden;
        // box-shadow: 0 3px 5px #145388;
    }

        .gallery label img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            cursor: pointer;
        }

        // .gallery label img:hover {
        //     transform: scale(1.1);
        // }

.simple-icon-check::before {
    background-color: #145388;
    color: #fff;
    padding: 0em;
    border-radius: 50px;
    border-color: #fff;
}

.selected {
    border: 5px solid #145388;
}

.selected .simple-icon-check {
    display: block;
    position: absolute;
    transform: translate(175px, -130px);
    color: #145388;
}

.noSelected {
    border: none;
}

.noSelected .simple-icon-check {
    display: none;
    color: #145388;
}