<!-- <h5 class="mb-4">{{ 'wizard.last-end' | translate }}</h5> -->
<div class="card mb-5">
  <div class="card-body">
    <aw-wizard >
      <form class="form-horizontal m-t-20 card card-body" [formGroup]="formData" (ngSubmit)="checkDate()">
        <aw-wizard-step stepTitle="{{ 'wizard.step-name-1' | translate }}" style="min-height: 120px;">
          <h5 class="mb-4">{{ 'wizard.first-step' | translate }}</h5>
          <div class="form-group">
            <div *ngIf="subject" id="asignatura">
              <label>{{ 'pages.exercise-subject' | translate }}: {{ subject.nombre }}</label>
              <input type="text" class="form-control" formControlName="asignatura" placeholder="" required disabled>
            </div>
            <div *ngIf="!subject" id="asignatura" class="mt-2">
              <label>{{ 'pages.exercise-subject' | translate }}</label>
              <label class="w-100">
                <ng-select appearance="outline" [searchable]="false" class="form-control" name="asignatura" formControlName="asignatura" required>
                  <ng-option *ngFor="let item of subjects" [value]="item.uid">{{item.nombrecorto}}
                  </ng-option>
                </ng-select>
              </label>
              <!-- <input type="text" class="form-control" formControlName="asignatura" placeholder="" required> -->
            </div>
            <div id="nombre">
              <label>{{ 'pages.exercise-name' | translate }}</label>
              <input type="text" class="form-control" formControlName="nombre" placeholder="" required>
            </div>
            <div class="mt-2" id="descripcion">
                <label>{{ 'pages.exercise-description' | translate }}</label>
                <textarea type="text" class="form-control" formControlName="descripcion" placeholder="" required></textarea>
            </div>
            <div class="mt-2" id="desde">
                <label>{{ 'pages.exercise-from' | translate }}</label>
                <input type="date" class="form-control" formControlName="desde" placeholder="" min="{{todayString}}" required>
            </div>
            <div class="mt-2" id="hasta">
                <label>{{ 'pages.exercise-to' | translate }}</label>
                <input type="date" class="form-control" formControlName="hasta" placeholder="" min="{{tomorrowString}}" required>
            </div>
            <div id="pre-intentos">
                <label>{{ 'pages.exercise-max-attempts' | translate }}</label>
                <div id="intentos">
                    <input type="range" class="form-control" formControlName="range_max_intentos" min="1" max="10" value="1" (input)="changeValue($event.target.value, true)">
                    <input type="number" class="form-control" formControlName="max_intentos" min="1" max="10" value="1" (input)="changeValue($event.target.value, false)" required>
                </div>
            </div>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-primary" awPreviousStep>{{ 'wizard.prev' | translate }}</button>{{" "}}
            <button type="button" class="btn btn-primary" awNextStep>{{ 'wizard.next' | translate }}</button>
          </div>
        </aw-wizard-step>

        <aw-wizard-step stepTitle="{{ 'wizard.step-name-2' | translate }}" style="min-height: 120px;">
          <h5 class="mb-2">{{ 'wizard.second-step' | translate }}</h5>
          <div class="gallery">
            <label class="noSelected" *ngFor="let p of imgs; let i=index">
              <img src={{urlPrefix+p.ruta}} (click)='selectImgs(p.ruta)'>
              <p>{{p.descripcion}}</p>
              <i class="simple-icon-check"></i>
            </label>
          </div>
          
          <div class="imgsSelected">
            <h3>Imágenes Seleccionadas</h3>
            <label *ngFor="let p of imgsSelect; let i=index">
              <img src={{p}}>
              <i class="simple-icon-close" (click)="unselectImg(p, i)"></i>
              <i *ngIf="i>0" class="simple-icon-arrow-left-circle" (click)="moveImgL(p, i)"></i>
              <i *ngIf="i<imgsSelect.length-1" class="simple-icon-arrow-right-circle" (click)="moveImgR(p, i)"></i>
            </label>
          </div>

          <div class="text-center">
            <button type="button" class="btn btn-primary" awPreviousStep>{{ 'wizard.prev' | translate }}</button>{{" "}}
            <button type="button" class="btn btn-primary" awNextStep [disabled]="imgsSelect.length<=0">{{ 'wizard.next' | translate }}</button>
          </div>

          <!-- <div class="form-group">
            <label>{{ 'forms.email' | translate }}</label>
            <input type="text" class="form-control" name="email">
          </div> -->
        </aw-wizard-step>
        <aw-wizard-step stepTitle="{{ 'wizard.step-name-3' | translate }}" style="min-height: 120px;">
          <h5 class="mb-2">{{ 'wizard.third-step' | translate }}</h5>
          <div class="form-group">
            <label>{{ 'forms.password' | translate }}</label>
            <input type="password" class="form-control" name="password">
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-primary" awPreviousStep>{{ 'wizard.prev' | translate }}</button>{{" "}}
            <!-- <button type="button" class="btn btn-primary" awNextStep>{{ 'wizard.next' | translate }}</button> -->
            <button type="submit" class="btn btn-primary" awNextStep [disabled]="!(formData.valid && formData.dirty)">{{ 'wizard.next' | translate }}</button>
          </div>
        </aw-wizard-step>
        <aw-wizard-completion-step stepTitle="{{ 'wizard.done' | translate }}" style="min-height: 120px;">
          <div class="text-center complete-message-centered">
            <h2 class="mb-2">{{ 'wizard.content-thanks' | translate }}</h2>
            <p>{{ 'wizard.registered' | translate }}</p>
            <button type="button" class="btn btn-primary" (click)="toExercises()">{{ 'wizard.finish' | translate }}</button>
          </div>
        </aw-wizard-completion-step>
      </form>
    </aw-wizard >
  </div>
</div>
