<div class="row">
    <div class="col-12">
        <app-heading></app-heading>
        <app-breadcrumb></app-breadcrumb>
        <div class="separator mb-5"></div>
    </div>
</div>
<div>
    <div class="col-xl-12 col-lg-12">
        <app-icon-dashboards-carousel></app-icon-dashboards-carousel>
    </div>
</div>
<!-- <div class="row">
    <div class="col-lg-4 col-md-12 mb-4">
        <app-product-categories-polar-area [chartClass]="'dashboard-donut-chart'"></app-product-categories-polar-area>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
        <app-logs></app-logs>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
        <app-tickets></app-tickets>
    </div>
</div> -->