<ng-template #template>
    <div class="modal-header">
        <ng-template *ngIf="user then editar else crear"> </ng-template>
        <ng-template #crear>
            <h4 class="modal-title pull-left">{{'pages.add-new-user-title' | translate}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
        </ng-template>
        <ng-template #editar>
            <h4 class="modal-title pull-left">{{'pages.edit-user-title' | translate}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
        </ng-template>
    </div>
    <form class="form-horizontal m-t-20 scrollMio" [formGroup]="formData" (ngSubmit)="createUser()">
        <div class="modal-body">
            <div>
                <label>{{ 'pages.user-email' | translate }}</label>
                <input type="email" class="form-control" formControlName="email" placeholder="" required>
            </div>
            <div class="mt-2">
                <label>{{ 'pages.user-name' | translate }}</label>
                <input type="text" class="form-control" formControlName="nombre" id="nombre" placeholder="" required>
            </div>
            <div class="mt-2">
                <label>{{ 'pages.user-last-name' | translate }}</label>
                <input type="text" class="form-control" formControlName="apellidos" placeholder="" required>
            </div>
            <div class="mt-2">
                <label>{{ 'pages.user-password' | translate }}</label>
                <input type="password" class="form-control" formControlName="password" placeholder="" required>
            </div>
            <div class="mt-4">
                <label>{{ 'pages.school-year-active' | translate }}</label>
                <input type="checkbox" class="form-control" formControlName="activo" placeholder="">
            </div>
            <div class="mt-2">
                <label>{{ 'pages.user-role' | translate }}</label>
                <label class="w-100">
                <ng-select appearance="outline" [searchable]="false" formControlName="rol" required>
                    <ng-option *ngFor="let item of roles" [value]="item.value">{{item.label}}
                    </ng-option>
                </ng-select>
            </label>
            </div>
            <!-- <div class="mt-2">
                <label>{{ 'pages.user-school-year' | translate }}</label>
                <label class="w-100">
              <ng-select appearance="outline" [searchable]="false" formControlName="curso" required>
                  <ng-option *ngFor="let item of schoolYears" [value]="item.uid">{{item.nombrecorto}}
                  </ng-option>
              </ng-select>
          </label>
            </div> -->
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary" (click)="closeModal()">{{'pages.cancel' | translate }}</button>
            <button type="submit" class="btn btn-primary float-right">{{ 'pages.submit' | translate}}</button>
        </div>
    </form>
</ng-template>
<simple-notifications></simple-notifications>
