
.modal-header {
    display: block;
}

.header1 {
    display: flex;
    margin-bottom: .3em;
}

.intentos {
    display: flex;
}

.intentos>p {
    margin-right: 3em;
}

table {
    display: block;
    height: 480px;
    overflow-y: scroll;
}

.intento {
    width: 30%;
}
.fecha {
    width: 50%;
}
.informe {
    width: 10%;
}

.simple-icon-eye:before {
    padding: 0.25em;
}

///////// SCROLLBAR /////////
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
  //   background: #f1f1f1;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #145388;
    border-radius: 10px;
  }