<ng-template #template>
    <div class="modal-header">
        <div class="header1">
            <h4 class="modal-title pull-left">{{'pages.show-student-register-modal-title' | translate}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
        <h7 class="modal-subtitle pull-left" *ngIf="dataUsuario!=undefined && dataEjercicio!=undefined">Intentos de {{dataUsuario.nombre}} {{dataUsuario.apellidos}} para el Ejercicio: {{dataEjercicio.nombre}}</h7>
    </div>
    <div class="modal-body">
        <div class="intentos">
            <p class="font-weight-bold">Intentos Realizados: {{registros.length}}</p>
            <p *ngIf="dataEjercicio!=undefined && dataEjercicio.intentos_limitados" class="font-weight-bold">Intentos Restantes: {{dataEjercicio.max_intentos - registros.length}}</p>
        </div>
        <div class="card card-body">
            <p *ngIf="registros.length == 0">Aún no hay intentos realizados de este alumno para este ejercicio</p>
            <table *ngIf="registros.length > 0" class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col" class="intento">Intento</th>
                        <th scope="col" class="fecha">Fecha</th>
                        <th scope="col" class="informe"></th>
                    </tr>
                </thead>
                <tbody *ngFor="let p of registros; index as indexOfelement;">
                    <tr>
                        <td class="intento">Intento Nº {{indexOfelement+1}}</td>
                        <td class="fecha">{{p.fecha_ejecucion}}</td>
                        <td class="informe"><i class="acciones simple-icon-eye w-xs-100" (click)="toViewReport(p)" data-toggle="tooltip" data-placement="bottom" title="Ver Informe"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="closeModal()">{{'pages.close' | translate }}</button>
    </div>
</ng-template>
<simple-notifications></simple-notifications>

