.tc {
    padding: 1em 1.75em;
}

.tc {
    padding: 1em 1.75em;
    background-color: #145388;
    border: 3px solid transparent;
    border-radius: 10px;
    box-shadow: 0 1px 15px rgb(0 0 0 / 4%), 0 1px 6px rgb(0 0 0 / 4%);
}

.title-card {
    line-height: 2.5;
}

.title-card>span {
    background-color: #145388;
    color: white;
    padding: .15rem .4em;
    border: 2px solid white;
    border-radius: 20px;
}

.codigo {
    width: 25.8% !important;
}

.nombre {
    width: 10.5% !important;
}

.curso {
    width: 21% !important;
}

.codigo2 {
    width: 30.8% !important;
}

.nombre2 {
    width: 12.3% !important;
}

.curso2 {
    width: 25.5% !important;
}

.codigo3 {
    width: 37% !important;
}

.nombre3 {
    width: 14.7% !important;
}

.curso3 {
    width: 22.5% !important;
}
