<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left" *ngIf="asignatura">{{'pages.manage-subject-modal-title' | translate}}: {{asignatura.nombre}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="card">
            <tabset class="card-tabs">
                <tab heading="{{'pages.teachers-title' | translate}}" class="card-body">
                    <div class="d-inline-block derecha">
                        <div class="search-sm d-inline-block float-md-left mr-1 mb-1 align-top">
                            <input #val type="text" class="form-control" placeholder="Buscar" (keyup)="buscarProfes(val.value)">
                        </div>
                    </div>
                    <p class="font-weight-bold">Profesores Asignados ({{profesoresAsignados.length}})</p>
                    <p *ngIf="profesoresAsignados.length == 0">Aún no hay profesores asignados</p>
                    <table *ngIf="profesoresAsignados.length > 0" class="table table-borderless">
                        <thead>
                            <tr>
                                <th class="t-email" scope="col">Email</th>
                                <th class="t-nombre" scope="col">Nombre</th>
                                <!-- <th scope="col">Apellidos</th> -->
                                <th *ngIf="userRole == 0" class="t-icono" scope="col"></th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let p of profesoresAsignados">
                            <tr>
                                <td class="t-email">{{p.email}}</td>
                                <td class="t-nombre">{{p.apellidos}}, {{p.nombre}}</td>
                                <!-- <td>{{p.apellidos}}</td> -->
                                <td *ngIf="userRole == 0" class="t-icono icono"><i class="simple-icon-minus" (click)="disassign(p)"></i></td>
                            </tr>
                        </tbody>
                    </table>
                    <p *ngIf="userRole == 0" class="font-weight-bold">Profesores No Asignados ({{profesoresNoAsignados.length}})</p>
                    <p *ngIf="profesoresNoAsignados.length == 0">No hay profesores sin asignar</p>
                    <table *ngIf="userRole == 0 && profesoresNoAsignados.length > 0" class="table table-borderless">
                        <thead>
                            <tr>
                                <th class="t-email" scope="col">Email</th>
                                <th class="t-nombre" scope="col">Nombre</th>
                                <!-- <th scope="col">Apellidos</th> -->
                                <th *ngIf="userRole == 0" class="t-icono" scope="col"></th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let p of profesoresNoAsignados">
                            <tr>
                                <td class="t-email">{{p.email}}</td>
                                <td class="t-nombre">{{p.apellidos}}, {{p.nombre}}</td>
                                <!-- <td>{{p.apellidos}}</td> -->
                                <td *ngIf="p.activo" class="t-icono icono"><i class="simple-icon-plus" (click)="assign(p)"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </tab>
                <tab heading="{{'pages.students-title' | translate}}" class="card-body">
                    <div class="d-inline-block derecha">
                        <div class="search-sm d-inline-block float-md-left mr-1 mb-1 align-top">
                            <input #val2 type="text" class="form-control" placeholder="Buscar" (keyup)="buscarAlumnos(val2.value)">
                        </div>
                    </div>
                    <p class="font-weight-bold">Alumnos Asignados ({{alumnosAsignados.length}})</p>
                    <p *ngIf="alumnosAsignados.length == 0">Aún no hay alumnos asignados</p>
                    <table *ngIf="alumnosAsignados.length > 0" class="table table-borderless">
                        <thead>
                            <tr>
                                <th class="t-email" scope="col">Email</th>
                                <th class="t-nombre" scope="col">Nombre</th>
                                <!-- <th scope="col">Apellidos</th> -->
                                <th *ngIf="userRole == 0" class="t-icono" scope="col"></th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let p of alumnosAsignados">
                            <tr>
                                <td class="t-email">{{p.email}}</td>
                                <td class="t-nombre">{{p.apellidos}}, {{p.nombre}}</td>
                                <!-- <td>{{p.apellidos}}</td> -->
                                <td *ngIf="userRole == 0" class="t-icono icono"><i class="simple-icon-minus" (click)="disassign(p)"></i></td>
                            </tr>
                        </tbody>
                    </table>

                    <p *ngIf="userRole == 0" class="font-weight-bold">Alumnos No Asignados ({{alumnosNoAsignados.length}})</p>
                    <p *ngIf="alumnosNoAsignados.length == 0">No hay alumnos sin asignar</p>
                    <table *ngIf="userRole == 0 && alumnosNoAsignados.length > 0" class="table table-borderless">
                        <thead>
                            <tr>
                                <th class="t-email" scope="col">Email</th>
                                <th class="t-nombre" scope="col">Nombre</th>
                                <!-- <th scope="col">Apellidos</th> -->
                                <th class="t-icono" scope="col"></th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let p of alumnosNoAsignados">
                            <tr>
                                <td class="t-email">{{p.email}}</td>
                                <td class="t-nombre">{{p.apellidos}}, {{p.nombre}}</td>
                                <!-- <td>{{p.apellidos}}</td> -->
                                <td class="t-icono icono"><i class="simple-icon-plus" (click)="assign(p)"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </tab>
            </tabset>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="closeModal()">{{'pages.close' | translate }}</button>
        <!-- <button type="submit" class="btn btn-primary float-right">{{ 'pages.submit' | translate}}</button> -->
    </div>
</ng-template>