<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{'pages.manage-subject-modal-title' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="card">
            <tabset class="card-tabs">
                <tab heading="{{'pages.teachers-title' | translate}}" class="card-body">
                    <p class="font-weight-bold">Lista Profesores ({{profesores.length}})</p>

                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">Email</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellidos</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let p of profesores">
                            <tr>
                                <td>{{p.email}}</td>
                                <td>{{p.nombre}}</td>
                                <td>{{p.apellidos}}</td>
                            </tr>
                        </tbody>
                    </table>
                </tab>
                <tab heading="{{'pages.students-title' | translate}}" class="card-body">
                    <p class="font-weight-bold">Lista Alumnos ({{alumnos.length}})</p>

                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">Email</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellidos</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let p of alumnos">
                            <tr>
                                <td>{{p.email}}</td>
                                <td>{{p.nombre}}</td>
                                <td>{{p.apellidos}}</td>
                            </tr>
                        </tbody>
                    </table>
                </tab>
            </tabset>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="modalRef.hide()">{{'pages.cancel' | translate }}</button>
        <!-- <button type="submit" class="btn btn-primary float-right">{{ 'pages.submit' | translate}}</button> -->
    </div>
</ng-template>
