.simple-icon-plus:before {
    font-size: 12px;
}

.icono {
    padding-left: 1.8em;
}

.derecha {
    float: right;
    transform: translateY(-55px);
}

.t-email {
    width: 33% !important;
}

.t-nombre {
    width: 66% !important;
}