<app-list-page-header [displayMode]="displayMode" [itemOptionsPerPage]="[10,25,50]" [itemsPerPage]="itemsPerPage" [selectAllState]="selectAllState" 
(changeDisplayMode)="changeDisplayMode($event)" (selectAllChange)="selectAllChange($event)" (itemsPerPageChange)="itemsPerPageChange($event)" 
(searchKeyUp)="searchKeyUp($event)"></app-list-page-header>
<app-show-student-register-modal #addNewModalRef></app-show-student-register-modal>

<div class="row">
    <div class="col-12 list" *ngIf="displayMode==='list'">
        <!-- <p>view-exercise LIST works!</p> -->

        <!-- SI NO HAY RESULTADOS -->
        <div *ngIf="totalItem == 0" [ngClass]="{'card d-flex flex-row mb-3': true}">
            <div class="d-flex flex-grow-1 min-width-zero">
                <div class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                    No hay alumnos asignados a la asignatura
                </div>
            </div>
        </div>

        <!-- SI HAY RESULTADOS -->
        <div *ngIf="totalItem > 0">
            <!-- LABEL CAMPOS -->
            <div class="card-dashborad mb-3 d-flex flex-grow-1 min-width-zero">
                <div class="tc card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                    <span class="nombre title-card list-item-heading mb-0 truncate w-xs-100">
                        <span>Apellidos, Nombre</span>
                    </span>
                    <span class="email title-card list-item-heading mb-0 w-xs-100">
                        <span>Email</span>
                    </span>
                    <span class="acciones title-card list-item-heading mb-0 w-xs-100">
                        <span>Acciones</span>
                    </span>
                </div>
            </div>

            <!-- MOSTRAR RESULTADOS -->
            <div [ngClass]="{'card d-flex flex-row mb-3': true}" *ngFor="let p of data; let i=index">
                <div class="d-flex flex-grow-1 min-width-zero atc">
                    <div class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                        <a class="nombre list-item-heading mb-0 truncate w-xs-100" href="javascript:;">
                            {{p.apellidos}}, {{p.nombre}}
                        </a>
                        <p class="email mb-0 text-muted text-small w-xs-100">{{p.email}}</p>
    
                        <i class="acciones simple-icon-eye w-xs-100" data-toggle="tooltip" data-placement="bottom" title="Ver Registros Alumno" (click)="showStudentModal(p)"></i>

                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <div class="col-12 list" *ngIf="displayMode==='thumb'">
        <p>view-exercise THUMB works!</p>
    </div>

    <div class="col-12 list" *ngIf="displayMode==='image'">
        <p>view-exercise IMAGE works!</p>
    </div>

    <div class="col-12">
        <pagination *ngIf="totalItem > 0" [totalItems]="totalItem" [itemsPerPage]="itemsPerPage" [rotate]="true" [maxSize]="5" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" class="justify-content-center" [customNextTemplate]="nextTemplate" [customPreviousTemplate]="prevTemplate">
        </pagination>
    </div>
</div>

<simple-notifications></simple-notifications>

<ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-arrow-right'></i>
</ng-template>
<ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-arrow-left'></i>
</ng-template>


