.tc {
    padding: 1em 1.75em;
    background-color: #145388;
    border: 3px solid transparent;
    border-radius: 10px;
    box-shadow: 0 1px 15px rgb(0 0 0 / 4%), 0 1px 6px rgb(0 0 0 / 4%);
}

.title-card {
    line-height: 2.5;
}

.title-card>span {
    background-color: #145388;
    color: white;
    padding: .15rem .4em;
    border: 2px solid white;
    border-radius: 20px;
}

.nombre {
    width: 22.5% !important;
}

.asignatura {
    width: 23.9% !important;
}

.desde {
    width: 20.6% !important;
}

.hasta {
    width: 14% !important;
}

.nombre2 {
    width: 27% !important;
}

.asignatura2 {
    width: 28% !important;
}

.desde2 {
    width: 24.7% !important;
}

.options>i {
    margin-right: .5em;
    padding: .5em;
}

.options2 {
    width: 12.6%;
}

.options2>i {
    margin-right: .5em;
    padding: .5em;
}

.options2 {
    width: 12.6%;
}

.options2>i {
    margin-right: .5em;
    padding: .5em;
}
