<ng-template #template>
    <div class="modal-header">
        <div class="header1">
            <h4 class="modal-title pull-left">{{'pages.triar-patient-modal-title' | translate}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="separated">
            <div class="separated1">
                <div class="imgs">
                    <label>
                        <img src={{urlPrefixPacientes+paciente.img}}>
                        <!-- <i class="simple-icon-check"></i> -->
                    </label>
                </div>
                <div class="descripcion">
                    <p>{{paciente.descripcion}}</p>
                </div>
            </div>
            
            <div class="separated2">
                <div class="color" id="color">
                    <label>{{ 'wizard.colour' | translate }}</label>
                    <label class="w-100">
                        <ng-select appearance="outline" [searchable]="false" class="form-control" name="color" (change)="asignarColor($event)" [(ngModel)]="pacienteTriado.color" required>
                            <ng-option *ngFor="let item of colours" [value]="item">{{item}}
                            </ng-option>
                        </ng-select>
                    </label>
                </div>
                <div class="acciones" id="color">
                    <label>{{ 'wizard.actions' | translate }}</label>
                    <label class="w-100">
                        <ng-select appearance="outline" [searchable]="false" class="form-control" name="acciones" required>
                            <ng-option *ngFor="let item of actions" [value]="item">{{item.nombre}}
                            </ng-option>
                        </ng-select>
                    </label>
                    <button type="button" class="btn btn-primary">Realizar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="closeModal()">Volver</button>
        <button type="button" class="btn btn-primary" (click)="closeModal()">Triar</button>
    </div>
</ng-template>
<simple-notifications></simple-notifications>


