
.modal-header, p {
    display: block;
}

.header1 {
    display: flex;
    margin-bottom: .3em;
}

p {
    margin-right: 3em;
}

.separated {
    display: flex;
}

.separated1, .separated2 {
    flex: 1;
    width: 45%;
    margin: 2%;
}

.descripcion {
    width: 250px;
    border: 1px solid #145388;
    border-radius: 25px;
    margin: 10px;
    justify-content: center;
}

.descripcion p {
    margin-right: 0 !important;
    margin-bottom: 0 !important;
    text-align: center;
    padding: 10px 5px;
    font-size: 14px;
    font-weight: bold;
}

.imgs {
    flex-wrap: wrap;
    position: relative;
    width: 275px;
    text-align: center;
}

    .imgs label {
        height: 190px;
        width: 190px;
        margin: 10px;
        border: 1px solid #145388;
        border-radius: 25px;
        overflow: hidden;
        // box-shadow: 0 3px 5px #145388;
    }

        .imgs label img {
            height: 100%;
            width: 100%;
            padding: .5em;
            object-fit: cover;
        }

.color, .acciones {
    margin: 10px;
}

.acciones {
    margin-top: 2em;
}

.ng-select {
    padding: 0 !important;
    border: none;
    width: 250px;
}

.acciones .btn {
    padding: .5em 1em !important;
    margin-top: .5em;
}

.simple-icon-check::before {
    background-color: #145388;
    color: #fff;
    padding: 0em;
    border-radius: 50px;
    border-color: #fff;
    font-size: 18px;
}

///////// SCROLLBAR /////////
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
  //   background: #f1f1f1;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #145388;
    border-radius: 10px;
  }