<div id="pano"></div>

<div id="sceneList">
    <ul class="scenes">
      
        <a href="javascript:void(0)" class="scene" data-id="0-r0010362">
          <li class="text">R0010362</li>
        </a>
      
        <a href="javascript:void(0)" class="scene" data-id="1-r0010355">
          <li class="text">R0010355</li>
        </a>
      
        <a href="javascript:void(0)" class="scene" data-id="2-r0010442">
          <li class="text">R0010442</li>
        </a>
      
    </ul>
  </div>
  
  <div id="titleBar">
    <h1 class="sceneName"></h1>
  </div>

  <a href="javascript:void(0)" id="autorotateToggle">
    <img class="icon off" src="././././assets/img/marzipano/play.png">
    <img class="icon on" src="././././assets/img/marzipano/pause.png">
  </a>
  
  <a href="javascript:void(0)" id="fullscreenToggle">
    <img class="icon off" src="././././assets/img/marzipano/fullscreen.png">
    <img class="icon on" src="././././assets/img/marzipano/windowed.png">
  </a>
  
  <a href="javascript:void(0)" id="sceneListToggle">
    <img class="icon off" src="././././assets/img/marzipano/expand.png">
    <img class="icon on" src="././././assets/img/marzipano/collapse.png">
  </a>
  
  <a href="javascript:void(0)" id="viewUp" class="viewControlButton viewControlButton-1">
    <img class="icon" src="././././assets/img/marzipano/up.png">
  </a>
  <a href="javascript:void(0)" id="viewDown" class="viewControlButton viewControlButton-2">
    <img class="icon" src="././././assets/img/marzipano/down.png">
  </a>
  <a href="javascript:void(0)" id="viewLeft" class="viewControlButton viewControlButton-3">
    <img class="icon" src="././././assets/img/marzipano/left.png">
  </a>
  <a href="javascript:void(0)" id="viewRight" class="viewControlButton viewControlButton-4">
    <img class="icon" src="././././assets/img/marzipano/right.png">
  </a>
  <a href="javascript:void(0)" id="viewIn" class="viewControlButton viewControlButton-5">
    <img class="icon" src="././././assets/img/marzipano/plus.png">
  </a>
  <a href="javascript:void(0)" id="viewOut" class="viewControlButton viewControlButton-6">
    <img class="icon" src="././././assets/img/marzipano/minus.png">
  </a>
