<div id="contador">
  <p>00:00:00</p>
</div>
<div id="pano"></div>
  
<div id="titleBar">
  <h1 class="sceneName"></h1>
</div>

  
  <a href="javascript:void(0)" id="viewUp" class="viewControlButton viewControlButton-1">
    <img class="icon" src="././././assets/img/marzipano/up.png">
  </a>
  <a href="javascript:void(0)" id="viewDown" class="viewControlButton viewControlButton-2">
    <img class="icon" src="././././assets/img/marzipano/down.png">
  </a>
  <a href="javascript:void(0)" id="viewLeft" class="viewControlButton viewControlButton-3">
    <img class="icon" src="././././assets/img/marzipano/left.png">
  </a>
  <a href="javascript:void(0)" id="viewRight" class="viewControlButton viewControlButton-4">
    <img class="icon" src="././././assets/img/marzipano/right.png">
  </a>
  <a href="javascript:void(0)" id="viewIn" class="viewControlButton viewControlButton-5">
    <img class="icon" src="././././assets/img/marzipano/plus.png">
  </a>
  <a href="javascript:void(0)" id="viewOut" class="viewControlButton viewControlButton-6">
    <img class="icon" src="././././assets/img/marzipano/minus.png">
  </a>
