<ng-template #template>
    <div class="modal-header">
        <ng-template *ngIf="exercise then editar else crear"> </ng-template>
        <ng-template #crear>
            <h4 class="modal-title pull-left">{{'pages.add-new-exercise-title' | translate}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
        </ng-template>
        <ng-template #editar>
            <h4 class="modal-title pull-left">{{'pages.edit-exercise-title' | translate}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
        </ng-template>
    </div>
    <form class="form-horizontal m-t-20 scrollMio" [formGroup]="formData" (ngSubmit)="createExercise()">
        <div class="modal-body">
            <div>
                <label>{{ 'pages.exercise-name' | translate }}</label>
                <input type="text" class="form-control" formControlName="nombre" placeholder="" required>
            </div>
            <div class="mt-2">
                <label>{{ 'pages.exercise-description' | translate }}</label>
                <textarea type="text" class="form-control" formControlName="descripcion" id="nombre" placeholder="" required></textarea>
            </div>
            <div class="mt-2">
                <label>{{ 'pages.exercise-from' | translate }}</label>
                <input type="date" class="form-control" formControlName="desde" id="nombre" placeholder="" required>
            </div>
            <div class="mt-2">
                <label>{{ 'pages.exercise-to' | translate }}</label>
                <input type="date" class="form-control" formControlName="hasta" id="nombre" placeholder="" required>
            </div>
            <div class="mt-2">
                <label>{{ 'pages.exercise-subject' | translate }}</label>
                <label class="w-100">
                <ng-select appearance="outline" [searchable]="false" formControlName="asignatura" required>
                    <ng-option *ngFor="let item of subjects" [value]="item.uid">{{item.nombrecorto}}
                    </ng-option>
                </ng-select>
            </label>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary" (click)="closeModal()">{{'pages.cancel' | translate }}</button>
            <button type="submit" class="btn btn-primary float-right">{{ 'pages.submit' | translate}}</button>
        </div>
    </form>
</ng-template>