.fixed-background {
    background: url("../../../assets/img/login/pexels-pavel-danilyuk-6754163.jpg") no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.image-side {
    background: url("../../../assets/img/login/paramedics-examining-injured-woman.jpg") no-repeat center top;
    background-size: cover;
}